<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Customer</title>
</head>
<body>
<div>
    <a th:href="@{/customer}">
        Back to customer list.
    </a>
</div>
<div>
    <span style="color: red" th:if="${message}" th:text="${message}"></span>
</div>
<form method="post" th:object="${customer}" th:action="@{/customer/edit}">
    <input type="hidden" th:field="*{customer_id}">
    <table>
        <tr>
        <tr>
            <th>Customer name:</th>
            <td>
                <input type="text" th:field="*{name}">
            </td>
        </tr>
        <tr>
            <th>Customer Birthday:</th>
            <td><input type="date" th:field="*{birthday}"></td>
        </tr>
        <tr>
            <th>Customer gender:</th>
            <td>
                <select name="gender">
                    <option th:value="${true}" th:text="Male"></option>
                    <option th:value="${false}" th:text="Female"></option>
                    <option selected="${gender}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <th>Customer id card::</th>
            <td><input type="text" th:field="*{id_card}"></td>
        </tr>
        <tr>
            <th>Customer email:</th>
            <td><input type="text" th:field="*{email}"></td>
        </tr>
        <tr>
            <th>Customer phone:</th>
            <td><input type="text" th:field="*{phone}"></td>
        </tr>
        <tr>
            <th>Customer Address:</th>
            <td><input type="text" th:field="*{address}"></td>
        </tr>
        <tr>
            <td>
            </td>
            <td><input type="submit" value="Update"></td>
        </tr>
        </tr>
    </table>
</form>

</body>
</html>