<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Remove Information Customer</title>
</head>
<body>
<h1>Remove</h1>
<div><a href="/customers">Customers list</a></div>
<form th:method="post" th:action="@{/remove-customer}">
    <h3>Are you sure delete this customer?</h3>
    <table>
        <tr>
            <th>Id</th>
            <td><input th:type="hidden" th:value="${customer.getId()}"></td>
        </tr>
        <tr>

            <th>First Name</th>
            <td><input th:type="hidden" th:value="${customer.getFirstName()}"></td>

        </tr>
        <tr>
            <th>Last Name</th>
            <td><input th:type="hidden" th:value="${customer.getLastName()}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input th:type="submit" th:value="Remove"></td>
        </tr>
    </table>
</form>
</body>
</html>