<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Creating customer</title>
</head>
<body>
<h1>Create Customer</h1>
<div>
    <a href="/customers">Customer lists</a>
</div>
<div>
    <p th:if="${message}" ><span th:text="${message}"></span></p>
</div>
<form th:method="post" th:object="${customer}" th:action="@{/create-customer}">
    <table>
        <tr>
            <th>First name</th>
            <th>Last name</th>
<!--            <th>Province</th>-->
        </tr>
        <tr>
            <td><input th:type="text" th:field="*{firstName}"></td>
            <td><input th:type="text" th:field="*{lastName}"></td>
<!--     <%&#45;&#45;      <td><input th:type="text" th:field="*{}"></td>-->
        </tr>
        <tr>
            <td></td>
            <td><input th:type="submit" value="Create customer"></td>
        </tr>
    </table>
</form>
</body>
</html>